/* ---- Import reset CSS ----- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

s blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---- Utils ---- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 100;
  color: white;
}

html {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.header .btn, .meetour .btn, .signup .btn, .quality .btn, .contactus .btn {
  padding: 1rem 1.8rem;
  color: rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  font-size: 1rem;
  font-weight: 600;
}

.header .btn:hover, .meetour .btn:hover, .signup .btn:hover, .quality .btn:hover, .contactus .btn:hover {
  color: white;
  border: 2px solid white;
}

.header .item, .meetour__img, .quality__img, .collections .item, .news__slider, .contactus {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome__title, .meetour__content-title, .signup__left-text, .talented__title, .talented .name, .quality__content-title, .collections__title, .trends__title, .news__left-title, .news__slider-title, .contactus__title {
  font-family: "Abril Fatface", cursive;
  font-size: 3rem;
  line-height: 4rem;
}

.welcome__text, .meetour__content-text, .talented__text, .quality__content-text, .trends__text, .news .text {
  font-size: 1.2rem;
  line-height: 2rem;
}

/* ---- Import styles for layout ---- */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .topbar {
    position: relative;
    background: black;
  }
}

.topbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 4rem;
}

@media only screen and (max-width: 1200px) {
  .topbar__nav {
    margin: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .topbar__nav-logo {
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .topbar__nav-menu {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.topbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media only screen and (max-width: 1200px) {
  .topbar .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
}

.topbar .menu .active {
  background: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 1200px) {
  .topbar .menu .active {
    background-color: #4ca9b4;
  }
}

.topbar a {
  display: block;
  line-height: 7.5rem;
  padding: 0 1.5rem;
  color: white;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1200px) {
  .topbar a {
    line-height: 3.7rem;
    border-bottom: 1px solid #333333;
    font-size: 1rem;
  }
  .topbar a:hover {
    background: #4ca9b4 !important;
  }
}

.topbar a:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 1200px) {
  .topbar li {
    display: block !important;
    width: 100%;
  }
}

.topbar .icon-res {
  margin: 0 0.8rem;
  display: none;
}

@media only screen and (max-width: 1200px) {
  .topbar .icon-res {
    display: inline;
  }
}

.topbar .icon-menu {
  font-size: 2rem;
  background: none;
  padding: 0.8rem 1rem;
  border: none;
}

.topbar .icon-menu:focus {
  outline: none;
}

.topbar .icon-menu:focus i {
  color: #4ca9b4;
}

.sticky {
  background: rgba(0, 0, 0, 0.7) !important;
}

@media only screen and (max-width: 1200px) {
  .sticky {
    background: black !important;
  }
}

.show-menu {
  max-height: 600px !important;
}

.header {
  font-family: "Abril Fatface", cursive;
  color: white;
}

.header:hover .nav-btn {
  opacity: 1;
}

.header .item {
  text-align: center;
  padding: 23rem 0;
  height: 102vh;
}

@media only screen and (max-width: 1000px) {
  .header .item {
    padding: 23rem 2rem;
  }
}

@media only screen and (max-width: 660px) {
  .header .item {
    padding: 17rem 2rem;
  }
}

.header .title {
  font-size: 9rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1000px) {
  .header .title {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 768px) {
  .header .title {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 660px) {
  .header .title {
    font-size: 3.8rem;
  }
}

.header .text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
}

@media only screen and (max-width: 768px) {
  .header .text {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 660px) {
  .header .text {
    font-size: 1.4rem;
  }
}

.header .btn {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

.header .text-bg {
  padding: 0.3rem 1rem;
  background: rgba(76, 169, 180, 0.6);
  margin-bottom: 3rem;
  display: inline-block;
}

.header .head1 {
  background-image: url("../img/home_slider_one.jpg");
}

.header .head2 {
  background-image: url("../img/home_slider_2-2.jpg");
}

.nav-btn {
  position: absolute;
  cursor: pointer;
  top: 50% !important;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem 1.5rem;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.item-content {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: -webkit-transform .8s ease-in;
  transition: -webkit-transform .8s ease-in;
  transition: transform .8s ease-in;
  transition: transform .8s ease-in, -webkit-transform .8s ease-in;
  opacity: 0;
}

.owl-nav {
  overflow: hidden;
  height: 0px;
  margin-top: 0 !important;
}

.prev-slide {
  left: 0;
}

.next-slide {
  right: 0;
}

.is-animated {
  -webkit-transform: none !important;
          transform: none !important;
  opacity: 1;
}

.welcome {
  padding: 8rem 2rem;
  background: #1a1a1a;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .welcome .container {
    padding: 0;
    max-width: none;
  }
}

@media only screen and (max-width: 768px) {
  .welcome {
    padding: 8rem 2rem;
  }
}

.welcome__title {
  margin-bottom: 2rem;
}

.welcome__text {
  margin: 2rem 0;
}

.meetour {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: unset;
      grid-template-rows: unset;
  -webkit-column-gap: 0;
          column-gap: 0;
  row-gap: 3rem;
}

@media only screen and (max-width: 1000px) {
  .meetour {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 0;
  }
}

.meetour__content {
  background: black;
  padding: 8rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .meetour__content {
    padding: 8rem 2rem;
  }
}

.meetour__content-title {
  margin-bottom: 1.4rem;
}

.meetour__content-thestudio {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  letter-spacing: 4px;
}

.meetour__content-text {
  margin-bottom: 2rem;
}

.meetour__img {
  background-image: url("/img/col_image112.jpg");
  background-position: top center;
}

.signup {
  padding: 14rem 2rem;
  background-image: url("/img/quote_bg_studio1.jpg");
  background-size: 1500px 790px;
  background-position: center left;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  .signup {
    background-size: 1500px 890px;
  }
}

@media only screen and (max-width: 420px) {
  .signup {
    padding: 7rem 2rem;
    background-size: 1500px 790px;
  }
}

.signup .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: unset;
      grid-template-rows: unset;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 3rem;
}

@media only screen and (max-width: 1000px) {
  .signup .container {
    max-width: none;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .signup .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 660px) {
  .signup .container {
    padding: 0;
  }
}

.signup__left {
  padding: 4rem;
  border: 0.7rem solid white;
}

@media only screen and (max-width: 1000px) {
  .signup__left {
    padding: 3rem;
  }
}

@media only screen and (max-width: 660px) {
  .signup__left {
    padding: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .signup__left-text {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 660px) {
  .signup__left-text {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 420px) {
  .signup__left-text {
    font-size: 2rem;
  }
}

.signup__right {
  padding: 4rem;
  text-align: center;
  background: rgba(76, 169, 180, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.signup__right-btn {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .signup__right {
    padding: 0;
    background: none;
  }
}

.signup .btn {
  font-size: 1.3rem;
}

.talented {
  padding: 8rem 2rem;
  text-align: center;
  background: #1a1a1a;
}

@media only screen and (max-width: 768px) {
  .talented .container {
    padding: 0 1rem;
    max-width: none;
  }
}

.talented__title {
  margin-bottom: 2rem;
}

.talented__text {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.talented__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: unset;
      grid-template-rows: unset;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 3rem;
}

@media only screen and (max-width: 1000px) {
  .talented__menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 5.5rem;
  }
}

@media only screen and (max-width: 660px) {
  .talented__menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 5.5rem;
  }
}

.talented .name {
  font-size: 1.7rem;
  margin-top: 1rem;
}

.talented .position {
  font-size: 1.2rem;
  letter-spacing: 4px;
}

.quality {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: unset;
      grid-template-rows: unset;
  -webkit-column-gap: 0;
          column-gap: 0;
  row-gap: 3rem;
}

@media only screen and (max-width: 1000px) {
  .quality {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 0;
  }
}

.quality__img {
  background-image: url("../img/girl_covered1.jpg");
}

.quality__content {
  padding: 8rem;
  background: #4ca9b4;
  text-align: center;
}

@media only screen and (max-width: 660px) {
  .quality__content {
    padding: 8rem 2rem;
  }
}

.quality__content-title {
  margin-bottom: 0.5rem;
}

.quality__content-values {
  font-size: 1.2rem;
  letter-spacing: 4px;
  margin-bottom: 0.5rem;
  line-height: 3rem;
}

.quality__content-text {
  margin-bottom: 2rem;
}

.collections {
  padding-top: 8rem;
  padding-bottom: 6rem;
  background: black;
  text-align: center;
}

.collections__title {
  margin-bottom: 2rem;
}

.collections__img {
  margin-bottom: 4rem;
}

.collections__menu-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: unset;
      grid-template-rows: unset;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
}

@media only screen and (max-width: 1000px) {
  .collections__menu-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    row-gap: 1rem;
  }
}

@media only screen and (max-width: 660px) {
  .collections__menu-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    row-gap: 1rem;
  }
}

.collections .item {
  height: 400px;
}

.collections .item:hover .bg-main {
  visibility: visible;
  -webkit-transform: none;
          transform: none;
}

.collections .it0 {
  background-image: url("../img/portfolio_item_42.jpg");
  background-size: cover;
  background-position: top center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/span 2;
  height: 100%;
}

@media only screen and (max-width: 660px) {
  .collections .it0 {
    height: 500px;
  }
}

.collections .it1 {
  background-image: url("../img/1_collection1-600x454.jpg");
}

.collections .it2 {
  background-image: url("../img/2_collection11.jpg");
}

.collections .it3 {
  background-image: url("../img/5_collectionb1.jpg");
}

.collections .it4 {
  background-image: url("../img/5_collection1.jpg");
}

.collections .bg-main {
  width: 100%;
  height: 100%;
  background-color: rgba(76, 169, 180, 0.8);
  visibility: hidden;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.collections .icon-menu {
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.collections .icon-menubig {
  -webkit-transform: translateY(400px);
          transform: translateY(400px);
}

.collections .icon {
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  margin: 0 0.5rem;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.collections .icon:hover {
  background: rgba(0, 0, 0, 0.9);
}

.trends {
  padding: 8rem 2rem;
  text-align: center;
  background: #141416;
}

.trends__title {
  margin-bottom: 2rem;
}

.trends__text {
  margin: 4rem 0;
}

.news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: unset;
      grid-template-rows: unset;
  -webkit-column-gap: 0;
          column-gap: 0;
  row-gap: 3rem;
}

@media only screen and (max-width: 1000px) {
  .news {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 0;
  }
}

.news__left {
  background: black;
  padding: 6rem 3rem;
}

.news__left-title {
  margin-bottom: 2rem;
  text-align: center;
}

.news__left-blog {
  font-size: 1.2rem;
  letter-spacing: 4px;
  margin-bottom: 4rem;
  text-align: center;
  line-height: 3rem;
}

.news__left .it {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: unset;
      grid-template-rows: unset;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 3rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 420px) {
  .news__left .it {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    row-gap: 3rem;
  }
}

.news img {
  width: 100%;
  height: 100%;
}

.news .title {
  font-family: "Abril Fatface", cursive;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.news .title:hover {
  color: #4ca9b4;
}

.news .date {
  margin-bottom: 2rem;
}

.news a {
  color: white;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.news a:hover {
  color: #4ca9b4;
}

.news__slider {
  background-image: url("../img/testimonials_bg1.jpg");
  padding: 6rem 3rem;
  overflow: hidden;
}

.news__slider-title {
  margin-bottom: 1rem;
  text-align: center;
}

.news__slider-client {
  font-size: 1.2rem;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 4rem;
}

.news .slidernew {
  text-align: center;
}

.news .slidernew__img {
  text-align: center;
  width: inherit !important;
  margin-bottom: 2rem;
  border-radius: 50%;
  display: inline-block !important;
}

.news .slidernew__text {
  font-size: 1.3rem;
  font-style: italic;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  line-height: 2.7rem;
}

.news .slidernew__author {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.news .slidernew .img-content {
  width: 200px;
}

.news .name {
  font-weight: 700;
}

.contactus {
  padding: 8rem 2rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../img/get_in_touch_bg.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/get_in_touch_bg.jpg");
  text-align: center;
}

.contactus__title {
  margin-bottom: 2rem;
}

.contactus__ideas {
  font-size: 1.2rem;
  letter-spacing: 4px;
  margin-bottom: 2rem;
  line-height: 2rem;
}

.footer {
  background: #1a1a1a;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 0.9rem;
}

@media only screen and (max-width: 660px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: center;
  }
}

.footer .copyright {
  line-height: 2.3rem;
}

.footer a {
  color: #4ca9b4;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media only screen and (max-width: 660px) {
  .footer .social {
    margin-top: 2rem;
  }
}

.footer li a {
  display: block;
  padding: 1.3rem;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 1rem;
}
/*# sourceMappingURL=style.css.map */