.appointment{
    background-image: url('../img/make-an-appointment.jpg');
    background-position: center;
    background-size: cover;
    color:white;
    .container{
        padding:10rem;
        @include setMaxwidth($lg){
            padding:4rem 2rem;
            max-width: none;
        }
    }
    &__top{
        @extend %content;
        &--title{
            font-size: 2.7rem!important;
            line-height: 4rem!important;
        }
        &--border{
            @extend %border;
            border-bottom:2px solid white;
        }
    }
    &__form{
        padding:1rem 2.4rem;
        @include setMaxwidth($xsm){
            padding:1rem 0;
        }
    }
    input{
        width: 100%;
        background:rgba($color: white, $alpha: 0.0);
        padding:1rem;
        border:1px solid white;
        font-size: 1.2rem;
        color:$border;
    }
    input::placeholder{
        color:white;
    }
    textarea{
        width: 100%;
        background:rgba($color: white, $alpha: 0.0);
        padding:1rem;
        border:1px solid white;
        font-size: 1.2rem;
        color:$border;
        margin-bottom:3rem;
    }
    textarea::placeholder{
        color:white;
    }
    .btn{
        width: 100%;
        background-color:$primary-color;
        color:white;
        font-family: $header-font;
        padding:1rem;
        font-size:1.6rem;
        &:hover{
            background:$hoverbtn;
            transition: all .4s;
        }
    }
    .info{
        &__row{
            @include grid($columns:repeat(2,1fr));
            margin-bottom:3rem;
            @include setMaxwidth($sm){
                @include grid($columns:repeat(1,1fr));
            }
        }
    }
}