* {
    box-sizing: border-box;
    font-weight: 100;
    color: white;
}

html {
    font-size: 13px;
    font-family: $primaryfont;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}