%btn{
    background:$grey;
    padding:0.8rem 2rem;
    font-size: 1.3rem;
    color:white;
    border-radius: 2px;
    font-weight: 600;
    font-family: $primary-font;
    transition: .3s ease-in-out;
    &:hover{
        background:$bluesky;
    }
}

%title{
    font-size: 3.7rem;
    color:$greyx2;
    font-family: $title-font;
    line-height: 4.5rem;
}

%text{
    font-size: 1.7rem;
    color:$greyx1;
    line-height: 2.5rem;
}