$fontsize:12px;

//FONT
$primary-font:'Noto Sans SC', sans-serif;
$header-font:'Montserrat', sans-serif;
$text-font:'Noto Sans JP', sans-serif;
//Breakpoint
$xsm:420px;
$sm:600px;
$md:768px;
$lg:1000px;
$xl:1200px;