$fontsize:13px;
//font-family
$primaryfont:'Merriweather',
serif;
$menufont:'Montserrat',
sans-serif;
//Breakpoint
$fold:280px;
$xsm:420px;
$sm540:540px;
$sm:660px;
$md:768px;
$l900:900px;
$lg:1000px;
$xl:1100px;